.todo_container {
  padding: 20px;
  width: 450px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.todo_container h1 {
  text-align: center;
  color: #161038;
  padding-bottom: 10px;
  border-bottom: #cccbcb solid 1px;
}

.btnCancel {
  margin-top: 10px;
  padding: 5px;
  border: #161038 1px solid;
  color: #161038;
  cursor: pointer;
}

.btnCancel:hover {
  background-color: #161038;
  color: #f0f0f0;
}

.search_container {
  display: flex;
  align-items: center;
}