.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container label {
  font-size: large;
  font-weight: bold;
}

.container input {
  border: #161038 .5px solid;
  height: 30px;
  padding: 0 5px;
}

.container input:focus {
  outline: #161038 1px solid;
}